<template>
  <div class="container">
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
      <option value="en" title="If elements are not translated, reload the page.">English</option>
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
    </select>
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      <option value="en" title="If elements are not translated, reload the page.">English</option>
    </select>
    <br><br>
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center" data-i18n-key="page-title">Créer un compte</h4>
        <form  id="signInForm" @submit="checkForm" method="post" novalidate="true" autocomplete="off">
          <p v-if="errors.length">
            <b data-i18n-key="register-errors-text">Veuillez corriger les erreurs sur le(s) champ(s) indiqué(s) :</b>
            <ul>
              <li v-bind:key="error" v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="form-group" v-if="!$auth.loading">
            <!-- show login when not authenticated -->
            <!--<button class="btn violet btn-block" v-if="!$auth.isAuthenticated" @click="login">Se connecter</button>-->
            <!-- show logout when authenticated -->
            <!--<button class="btn violet btn-block" v-if="$auth.isAuthenticated" @click="logout">Se déconnecter</button>-->

            <div class="form-group input-group">
              <input class="form-control" name="lastName" v-model="lastName" placeholder="Nom" type="text" required data-i18n-placeholder-key="register-name">
            </div>

            <div class="form-group input-group">
              <input class="form-control" name="firstname" v-model="firstName" placeholder="Prenom" type="text" required data-i18n-placeholder-key="register-firstname">
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input class="form-control" name="password" v-model="password" placeholder="Mot de passe" type="password" required data-i18n-placeholder-key="register-password">
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input name="email" class="form-control" placeholder="Email" type="email" id="email" v-model="email" required>
            </div>

            <div class="form-group input-group">
              <input class="form-control" name="phone" v-model="phone" placeholder="N° téléphone" type="tel" pattern="[0-9]{10}" required data-i18n-placeholder-key="register-phone">
            </div>

            <div class="form-group input-group">
              <input class="form-control" name="address" v-model="address" placeholder="Adresse" type="text" required data-i18n-placeholder-key="register-address">
            </div>

            <label class="form-check-label" data-i18n-key="register-driver-licence">Permis de conduire</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceY" value="y" v-model="driverLicence">
              <label class="form-check-label" for="driverLicenceY" data-i18n-key="register-driver-licence-yes">Oui</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceN" value="n" v-model="driverLicence" checked>
              <label class="form-check-label" for="driverLicenceN" data-i18n-key="register-driver-licence-no">Non</label>
            </div>

            <br>
            <input type="submit" value="Inscription" class="btn violet" data-i18n-value-key="register-submit">

          </div>
        </form>
      </article>
    </div> <!-- card.// -->
  </div>
</template>

<style></style>

<script src="./index.js"></script>
