<template>
  <div>
    <div class="box__input" v-if="$auth.user.email.endsWith('univ-orleans.fr')">
      <span id="span">
        <i class="nav__btn-search ri-search-2-line"></i>
        <input class="input-search" v-model="search" id="popover-target-1" placeholder="Chercher un utilisateur" data-i18n-placeholder-key="nav-userslist-input">
      </span>
    </div>
    <b-popover id="usersList" :show.sync="show" target="popover-target-1" placement="bottom">
      <b-table id="inUsersList" sticky-header hover :items="users" :fields="fieldsEn" v-if="lang=='en'">
        <template #cell(utilisateurs)="row">
          {{row.value.prenom}}
        </template>
        <template #cell(actions)="row">
          <b-btn-group>
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'userProfilePage', params: { userId: row.item.id}}"><b-icon-person-lines-fill></b-icon-person-lines-fill></router-link>
            </b-button>
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'detailsUserPage', params: { userId: row.item.id}}">Details</router-link>
            </b-button>
          </b-btn-group>
        </template>
      </b-table>
      <b-table id="inUsersList" sticky-header hover :items="users" :fields="fieldsFr" v-else>
        <template #cell(utilisateurs)="row">
          {{row.value.prenom}}
        </template>
        <template #cell(actions)="row">
          <b-btn-group>
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'userProfilePage', params: { userId: row.item.id}}"><b-icon-person-lines-fill></b-icon-person-lines-fill></router-link>
            </b-button>
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'detailsUserPage', params: { userId: row.item.id}}">Détails</router-link>
            </b-button>
          </b-btn-group>
        </template>
      </b-table>
    </b-popover>
  </div>
</template>

<style>
.box__input {
  position: relative;
}

.box__input span {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
}
.box__input span i {
  position: relative;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: .6rem 1rem;
  font-size: 1rem;
  border-radius: 15px 0 0 15px;
  left: 0;
  z-index: 11;
  cursor: pointer;
  transition: .8s;
}

.input-search {
  position: relative;
  text-align: center;
  border: none;
  border-radius: 0 15px 15px 0px;
  padding: .7rem;
  height: 43px;
  z-index: 10;
  width: 280px;
  transition: .8s;
}

.show-input {
    width: auto;
}

#usersList{
  max-width: 300px;
  width: 300px;
}

#inUsersList{
  width: 272px;
  text-align: center;
}
</style>

<script src="./index.js">
</script>
