<script>
/* eslint-disable */
</script>
<template>
  <div v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <img :src="$auth.user.picture">
    <p>Votre boite mail est {{ $auth.user.email }}</p>
    <form >
        Changer le nom: <input type="text" :value=" $auth.user.name ">
      <button type="submit">submit</button>
    </form>
  </div>
  <div v-else>
    <h1>Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout">Déconnexion totale</button>
  </div>
</template>
