<template>
  <div v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <div v-if="loading === 2">
      <div class="card bg-light">
        <br>
        <div class="container">
          <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
            <option value="en" title="If elements are not translated, reload the page.">English</option>
            <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
          </select>
          <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
            <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
            <option value="en" title="If elements are not translated, reload the page.">English</option>
          </select>
        </div>
        <!-- Si l'utilisateur connecté est le créateur de l'itinéraire-->
        <div class="form-group" v-if="utilisateur_connecter == conducteur.id">
          <button v-on:click="toggleModalUpdate" class="btn violet mt-3 mb-3" data-i18n-key="route-modify">Modifier<span v-if="isUpdate"><br><i><span data-i18n-key="route-modify-cancel">(annuler)</span></i></span></button>
          <button v-on:click="toggleModalDelete" class="btn btn-danger mt-3 mb-3" data-i18n-key="route-delete">Supprimer<span v-if="isDelete"><br><i><span data-i18n-key="route-delete-cancel">(annuler)</span></i></span></button>
        </div>
        <!-- Si pas de demande de modification affichage des champs non modifiables -->
        <div v-if="isUpdate == false && isDelete == false">

          <div class="card-header mb-3">
            <h1>{{ date }}</h1>
          </div>

          <div id="mapid"></div>
          <div class="card-body">
            <div class="container">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-center align-items-center"><div class="list-group-text"><BIconFlag/></div>&nbsp;{{ Itineraire.depart }}</li>
                <li class="list-group-item d-flex justify-content-center align-items-center"><div class="list-group-text"><BIconFlag-Fill/></div>&nbsp;{{ Itineraire.destination }}</li>
                <li class="list-group-item d-flex justify-content-center align-items-center"><div class="list-group-text"><i class="far fa-clock"></i></div>&nbsp;{{ duree }}</li>
                <li class="list-group-item d-flex justify-content-center align-items-center"><div class="list-group-text"><i class="fa fa-euro-sign"></i></div>&nbsp;{{ Itineraire.prix }} <span data-i18n-key="route-price-text"> euros par passager</span></li>
                <li class="list-group-item d-flex justify-content-center align-items-center"><div class="list-group-text"><i class="fa fa-users"></i></div>&nbsp;{{ Itineraire.nb_passager }} <span data-i18n-key="route-passengers-text"> passager(s) possible</span></li>
              </ul>
            </div>
          </div>

          <!-- Affichage des infos du conducteur -->
          <div v-if="conducteur">
            <h2 data-i18n-key="route-driver-text">Proposé par :</h2>
            <h2>
              {{ conducteur.prenom }}
              {{ conducteur.nom | get_first_letter }}
              <b-btn-group>
                <b-button size="sm" class="mr-1">
                  <router-link :to="{ name: 'userProfilePage', params: { userId: conducteur.id}}"><b-icon-person-lines-fill></b-icon-person-lines-fill></router-link>
                </b-button>
                <b-button size="sm" class="mr-1">
                  <router-link :to="{ name: 'detailsUserPage', params: { userId: conducteur.id}}" data-i18n-key="route-driver-details">Détails</router-link>
                </b-button>
              </b-btn-group>
            </h2>
            <h3 v-if="notesString && hasNote">{{ notesString }}&nbsp;<BIconStar-Fill/></h3>
            <!-- Si l'utilisateur connecté est inscrit au trajet et qu'il n'a pas noté le conducteur => affichage d'un composant pour le noter -->
            <div v-if="isIn && hasNote == false">
              <form @submit="note">
                <Rating id="notes" :grade="3" readonly="readonly"/>
                <input type="submit" class="btn violet" value="Valider" data-i18n-value-key="route-driver-notation-submit">
              </form>
            </div>
            <p><span data-i18n-key="route-driver-phone-text">Téléphone :</span> {{ conducteur.telephone }}</p>
            <p v-if="conducteur.marque"><span data-i18n-key="route-driver-car-text">Véhicule :</span> {{ conducteur.marque }} {{ conducteur.modele }}</p>
            <p v-else data-i18n-key="route-driver-no-car">Aucun véhicule renseigné.</p>
            <p><span data-i18n-key="route-driver-descr-text">Description :</span> {{ Itineraire.description }}</p>
          </div>
          <div v-else>
            <p data-i18n-key="route-no-driver">Aucun conducteur pour ce trajet.</p>
          </div>
          <!-- Si des passagers sont inscrits au trajet -->
          <div v-if="passagers.length > 0">
            <h4 data-i18n-key="route-passengers-list-text">Liste des passagers</h4>
            <ul v-bind:key="u.id" v-for="u in passagers">
              <li>{{ u.prenom }} {{ u.nom | get_first_letter }}</li>
            </ul>
          </div>
          <div v-if="utilisateur_connecter !== conducteur.id">
            <button v-if="!isIn && passagers.length < Itineraire.nb_passager" v-on:click="participerTrajet" class="btn violet mb-3" data-i18n-key="route-passenger-participate">Participer au trajet</button>
            <button v-else-if="isIn" v-on:click="quitterTrajet" class="btn gris mb-3" data-i18n-key="route-passenger-leave">Se retirer du trajet</button>
          </div>
        </div>
      </div>
      <!-- Si demande de modification affichage des champs modifiables -->
      <div v-if="isUpdate == true && utilisateur_connecter == conducteur.id">
        <div class="card bg-light">
          <div class="card-header mb-3">
            <h1 data-i18n-key="page-title-modify-route">Modifier le trajet</h1>
          </div>
          <form @submit="submitUpdate">
            <div id="mapid"></div>
            <div class="container">
              <article class="card-body mx-auto" style="max-width: 400px;">
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><BIconCalendar4Week/></span>
                  </div>
                  <input class="form-control" type="datetime-local" id="date_depart" name="date_depart">
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-users"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Nombre de passagers" :value="`${Itineraire.nb_passager}`" id="nb_passager" type="number" name="nb_passager" min=1 data-i18n-placeholder-key="modify-route-passengers-number">
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="span_euro"> <i class="fa fa-euro-sign"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Prix" id="prix" :value="`${Itineraire.nb_passager}`"  type="number" step="0.1" name="prix" min="0" data-i18n-placeholder-key="modify-route-price">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn violet" value="Valider" data-i18n-value-key="modify-route-submit">
                </div>
              </article>
            </div>
          </form>
        </div>
      </div>
      <div v-else>
        <!-- Si demande de suppression affichage d'une demande de confirmation -->
        <div v-if="isDelete == true && utilisateur_connecter == conducteur.id">
          <div class="card bg-light">
            <div class="card-header mb-3">
              <h1 data-i18n-key="page-title-delete-route">Supprimer le trajet</h1>
              <form @submit="submitDelete">
                <div class="container">
                  <article class="card-body mx-auto" style="max-width: 400px;">
                    <h5 data-i18n-key="delete-route-confirm">Confirmer la suppression du trajet ?</h5><br>
                    <div class="form-group row d-flex justify-content-center">
                      <input class="btn btn-danger col-4" value="Supprimer" type="submit" data-i18n-value-key="delete-route-delete">
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                      <input class="btn violet col-3" value="Annuler" @click="toggleModalUpdateCancel" data-i18n-value-key="delete-route-cancel">
                    </div>
                  </article>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <h1 data-i18n-key="email-not-univ">Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect" data-i18n-key="email-not-univ-login">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout" data-i18n-key="email-not-univ-full-logout">Déconnexion totale</button>
  </div>
</template>

<script src="./index.js"></script>

<style>
.loader {
  border: 8px solid #e0e0e0;
  border-radius: 50%;
  border-top: 8px solid #791866;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#mapid {
  /*height: 50em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;*/
  height: 40em;
  width: 70%;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px ;
}

#span_euro{
  width: 46px;
}

.fa.fa-euro-sign{
  margin: auto;
}
</style>
