<template>
  <div v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <div class="card bg-light">
    <h1 data-i18n-key="page-title">Proposer un trajet</h1>
    <div class="container">
      <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
        <option value="en" title="If elements are not translated, reload the page.">English</option>
        <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      </select>
      <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
        <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
        <option value="en" title="If elements are not translated, reload the page.">English</option>
      </select>
    </div>
    <br>
    <form @submit="submit">
      <div id="mapid"></div>
      <div class="container">
          <article class="card-body mx-auto" style="max-width: 400px;">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><BIconCalendar4Week/></span>
              </div>
              <input class="form-control" type="datetime-local" id="date_depart" name="date_depart">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-users"></i> </span>
              </div>
              <input class="form-control" placeholder="Nombre de passagers max." value=1 v-model="nb_passager" type="number" name="nb_passager" min=1 data-i18n-placeholder-key="form-seats-number">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="span_euro"> <i class="fa fa-euro-sign"></i> </span>
              </div>
              <input class="form-control" placeholder="Prix" id="prix" value="1" v-model="prix" type="number" step="0.1" name="prix" min="0" data-i18n-placeholder-key="form-price">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="span_comment"> <i class="fa fa-comment"></i> </span>
              </div>
              <input input id="description" placeholder="Description" class="form-control" v-model="description" type="textarea" name="description" data-i18n-placeholder-key="form-description">
            </div>
            <p v-if="errors.length">
              <b data-i18n-key="form-errors">Veuillez corriger les erreurs suivantes : </b>
              <ul>
                <li v-bind:key="error" v-for="error in errors">{{ error }}</li>
              </ul>
            </p>
            <div class="form-group">
              <input type="submit" class="btn violet" value="Valider" data-i18n-value-key="form-submit">
            </div>
          </article>
        </div>
    </form>
    </div>
  </div>
  <div v-else>
    <h1 data-i18n-key="email-not-univ">Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect" data-i18n-key="email-not-univ-login">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout" data-i18n-key="email-not-univ-full-logout">Déconnexion totale</button>
  </div>
</template>

<script src="./index.js"></script>

<style>
#mapid {
  height: 40em;
  width: 80%;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px ;
}

#span_euro, #span_comment{
  width: 46px;
}

.card h1 {
  letter-spacing: .5rem;
  font-size: 1.25rem;
  margin: 1.5rem;
}

.fa.fa-euro-sign, .fa.fa-comment{
  margin: auto;
}
</style>
