<template>
  <div class="container">
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
      <option value="en" title="If elements are not translated, reload the page.">English</option>
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
    </select>
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      <option value="en" title="If elements are not translated, reload the page.">English</option>
    </select>
    <br><br>
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center" data-i18n-key="page-title">Connexion</h4>
        <form id="logInForm" @submit="checkForm" method="post">
          <p v-if="errors.length">
            <b data-i18n-key="login-errors-text">Please correct the following error(s):</b>
            <ul>
              <li v-bind:key="error" v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Email" type="email" id="email" v-model="email">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" v-model="password" placeholder="Mot de passe" type="password" data-i18n-placeholder-key="login-password">
          </div> <!-- form-group// -->
          <input type="submit" value="Connexion" class="btn violet" data-i18n-value-key="login-btn-login">
          <br><br>
          <button class="btn violet" @click="register" v-if="!userId" data-i18n-key="register">Inscription</button>
        </form>
      </article>
    </div>
  </div>
</template>

<script src="./index.js"></script>
