<template>
  <div>
    <nav class="nav container">
      <a href="/" class="nav__logo">
          <i class="ri-roadster-line"></i> Iut Car
      </a>
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link">
                  <router-link to="/" data-i18n-key="nav-home">Accueil</router-link>
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link">
                  <router-link to="/creationItineraire" data-i18n-key="nav-route-proposal">Proposer un trajet</router-link>
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link">
                  <router-link to="/listeItineraire" data-i18n-key="nav-routes-list">Liste des itinéraires</router-link>
                </a>
              </li>
              <li class="nav__item">
                <userList></userList>
              </li>
              <li class="nav__item" v-if="!$auth.isAuthenticated">
                <button class="nav__link nav__item-btn" @click="this.$auth.loginWithRedirect" data-i18n-key="nav-login">Connexion</button>
              </li>
              <span data-i18n-key="nav-account" style="display: none;"></span>
              <li class="nav__item">
                <a class="nav__link nav__item-btn">
                  <router-link class="" :to="{ name: 'userProfilePage', params: { userId: userId }}">
                    <b-icon-person-lines-fill></b-icon-person-lines-fill>
                    <span data-i18n-key="nav-account">Compte</span>
                  </router-link>
                </a>
              </li>

              <li class="nav__item">
                <a class="nav__link nav__item-btn">
                  <router-link class="" :to="{ name: 'detailsUserPage', params: {userId: userId} }" data-i18n-key="nav-account-details">Détails</router-link>
                </a>
              </li>

              <span data-i18n-key="nav-logout" style="display:none;">Déconnexion</span>
              <li class="nav__item" ><!--v-if="$auth.isAuthenticated && userId"-->
                <button class="nav__link nav__item-btn" @click="disconnect" data-i18n-key="nav-logout">Déconnexion</button>
              </li>

              <li class="nav__item" v-if="$auth.isAuthenticated && !userId">
                <button class="nav__link nav__item-btn" @click="connect" data-i18n-key="nav-auth">Authentification</button>
              </li>

              <li class="nav__item" v-if="$auth.isAuthenticated">
                <button class="nav__link nav__item-btn" @click="this.$auth.logout" data-i18n-key="nav-full-logout">Déco totale</button>
              </li>
          </ul>
          <div class="nav__close" id="nav-close">
              <i class="ri-close-line"></i>
          </div>
      </div>
      <!-- Toggle Button -->
      <div class="nav__toggle" id="nav-toggle">
        <div v-if="!$auth.isAuthenticated">
          <i class="ri-checkbox-blank-circle-fill" style="color:red;"></i>
        </div>
        <div v-if="$auth.isAuthenticated">
          <i class="ri-checkbox-blank-circle-fill" style="color:green;"></i>
        </div>
          <i class="ri-menu-line"></i>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script src="./index.js"></script>

<style>

ul {
    list-style: none;
}

nav a {
    color:rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .4rem;
}
a:hover {
  text-decoration: none;
  color: rgb(121, 0, 90);
}

.nav__list .nav__link:hover {
  color: rgb(121, 0, 90);
  background: white;
  padding: 1rem;
  border-radius: 15px;
}

.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav__logo,
.nav__toggle {
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

.nav__logo {
    align-items: center;
    column-gap: .25rem;
    transition: .3s;
    margin-left: 1rem;
    color: rgb(121, 0, 90);
}

.nav__logo i {
    font-size: 1.5rem;
}

.nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: rgba(211, 211, 211, 0.9);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: .3s;
        z-index: inherit;
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        position: fixed;
        background-color: rgba(211, 211, 211, 0.9);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: .3s;
        z-index: inherit;
    }

    .nav__close {
      /* display: none; */
    }
}

.nav__item-btn {
  margin: 0px 1rem;
  background-color: rgb(34, 34, 34);
  padding: .8rem 1rem;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: .4rem;
}

.nav__item-btn:hover{
  background-color: white;
  color: rgb(90, 0, 68);
  transition: .3s;
}

.nav__item-btn a {
  color: white;
}

.nav__item-btn:hover a {
  color: rgb(90, 0, 68);
  transition: .3s;
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav__link {
    text-transform: uppercase;
}

.nav__link:hover {
    color: rgb(90, 0, 68);
    transition: .3s;
}

.nav__close {
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* Show menu */

.show-menu {
    right: 0;
    z-index: inherit;
}
</style>
