<template>
  <div  v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <div>
      <input v-model="search" placeholder="Rechercher un itinéraire" id="popover-target-1" style="width: 50%;">
    </div>
    <b-popover id="itineraireList" :show.sync="show" target="popover-target-1" placement="bottom">
      <b-table id="inItineraireList" sticky-header hover :items="itineraires" :fields="fields">
        <template #cell(actions)="row">
          <b-btn-group>
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'listItinerairePage', params: { id: row.item.id}}">Détails</router-link>
            </b-button>
          </b-btn-group>
        </template>
      </b-table>
    </b-popover>
  </div>
  <div v-else>
    <h1>Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout">Déconnexion totale</button>
  </div>
</template>

<style>

#itineraireList{
  max-width: 300px;
  width: 300px;
}

#inItineraireList{
  width: 272px;
  text-align: center;
}

</style>

<script src="./index.js">
</script>
