<template>
  <div class="container" v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <div class="popUp" id="userPopUp" v-if="adminOnPage===true">
      <div class="pp-table">
        <div class="pp-cell">
          <div class="popup-body">
            <form class="form-container">
              <h1 data-i18n-key="modify-infos-title">Modifier vos informations</h1>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input class="form-control" id="nom" placeholder="Nom" type="text" data-i18n-placeholder-key="modify-infos-input-name">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input class="form-control" id="prenom" placeholder="Prénom" type="text" data-i18n-placeholder-key="modify-infos-input-firstname">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input class="form-control" id="password" placeholder="Mot de passe" type="password" data-i18n-placeholder-key="modify-infos-input-password">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input class="form-control" id="email" placeholder="Email" type="text">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                <input class="form-control" placeholder="Téléphone" id="telephone" type="text" data-i18n-placeholder-key="modify-infos-input-phone">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-home"></i></span>
                </div>
                <input class="form-control" id="adresse" placeholder="Adresse" type="text" data-i18n-placeholder-key="modify-infos-input-address">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-building"></i></span>
                </div>
                <select class="form-control" id="composante">
                  <option value="IUT">IUT</option>
                  <option value="UFR Collegium Sciences et Techniques">UFR Collegium Sciences et Techniques</option>
                  <option value="SEFCO">SEFCO</option>
                  <option value="Institut de Français de l'Université d'Orléans">Institut de Français de l'Université d'Orléans</option>
                  <option value="Polytech Galilée">Polytech Galilée</option>
                  <option value="Polytech Léonard de Vinci">Polytech Léonard de Vinci</option>
                  <option value="Observatoire des Sciences de l'Univers en région Centre">Observatoire des Sciences de l'Univers en région Centre</option>
                  <option value="UFR Collegium Droit, Economie, Gestion">UFR Collegium Droit, Economie, Gestion</option>
                  <option value="ESPE Centre de formation d'Orléans">ESPE Centre de formation d'Orléans</option>
                  <option value="UFR Collegium Lettres, Langues et Sciences Humaines">UFR Collegium Lettres, Langues et Sciences Humaines</option>
                </select>
              </div>
              <div v-if="loading" class="loader"></div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-comment"></i></span>
                </div>
                <textarea class="form-control" placeholder="Description" id="description"></textarea>
              </div>
              <div class="form-group card">
                <label class="form-check-label"><i class="fa fa-id-card"></i> <span data-i18n-key="modify-infos-input-driver-licence">Permis de conduire</span></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceY" value="y" checked v-if="userInfo.permisConduire">
                  <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceY" value="y" v-else>
                  <label class="form-check-label" for="driverLicenceY" data-i18n-key="user-infos-driver-licence-yes">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceN" value="n" checked v-if="!userInfo.permisConduire">
                  <input class="form-check-input" type="radio" name="driverLicence" id="driverLicenceN" value="n" v-else>
                  <label class="form-check-label" for="driverLicenceN" data-i18n-key="user-infos-driver-licence-no">Non</label>
                </div>
              </div>
              <br>
              <div class="form-group row justify-content-center">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button class="btn violet" @click.prevent="submitModifUser" data-i18n-key="popup-submit">Valider</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button class="btn btn-outline-dark" @click.prevent="closeUserPopup" data-i18n-key="popup-close">Fermer</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="popUp" id="carPopUp" v-if="adminOnPage===true">
      <div class="pp-table">
        <div class="pp-cell">
          <div class="popup-body">
            <form class="form-container col-md-8 mx-auto">
              <h1 v-if="hasCar" data-i18n-key="modify-infos-car-title">Modifier vos informations</h1>
              <h1 v-else data-i18n-key="modify-infos-car-add-car-title">Ajouter une voiture</h1>
              <label class="form-label" for="nomVoiture" data-i18n-key="infos-user-car-name">Nom</label><input class="form-control" id="nomVoiture" type="text">
              <label class="form-label" for="marque" data-i18n-key="infos-user-car-brand">Marque</label><input class="form-control" id="marque" type="text">
              <label class="form-label" for="modele" data-i18n-key="infos-user-car-model">Modèle</label><input class="form-control" id="modele" type="text">
              <label class="form-label" for="nbPlace" data-i18n-key="infos-user-car-seats-number">Nombre de places</label><input min="2" max="10" value="5" class="form-control" id="nbPlace" type="number">
              <label class="form-label" for="assurance" data-i18n-key="infos-user-car-insurance-end-date">Date fin de contrat d'assurance</label><input class="form-control" id="assurance" type="date">
              <div v-if="loading" class="loader"></div>
              <br/>
              <div class="form-group row justify-content-center">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button v-if="hasCar" @click.prevent="sumbitModifVoiture" class="btn violet" data-i18n-key="popup-submit">Valider</button>
                    <button v-else @click.prevent="addVoiture" class="btn violet" data-i18n-key="popup-submit">Valider</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button @click.prevent="closeVoiturePopup" class="btn btn-outline-dark" data-i18n-key="popup-close">Fermer</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
      <option value="en" title="If elements are not translated, reload the page.">English</option>
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
    </select>
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      <option value="en" title="If elements are not translated, reload the page.">English</option>
    </select>
    <br><br>
    <h2 data-i18n-key="infos-user-title">Infos utilisateur</h2>
    <table class="table table-hover">
      <thead class="thead violet">
      <tr>
        <th scope="col"></th>
        <th scope="col" data-i18n-key="infos-user-name">Nom</th>
        <th scope="col" data-i18n-key="infos-user-firstname">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col" data-i18n-key="infos-user-phone">Téléphone</th>
        <th scope="col" data-i18n-key="infos-user-address">Adresse</th>
        <th scope="col">Description</th>
        <th scope="col" data-i18n-key="infos-user-driver-licence">Permis</th>
        <th scope="col" data-i18n-key="infos-user-component">Composante</th>
      </tr>
      </thead>
      <tbody>
      <tr id="userInfos">

        <td data-label="Profile">
            <b-button size="sm" class="mr-1">
              <router-link :to="{ name: 'userProfilePage', params: { userId: param}}"><b-icon-person-lines-fill></b-icon-person-lines-fill></router-link>
            </b-button>
        </td>

        <td data-label="Nom">{{ userInfo.nom }}</td>

        <td data-label="Prenom">{{ userInfo.prenom }}</td>

        <td data-label="Email">{{ userInfo.email }}</td>

        <td data-label="Telephone">{{ userInfo.telephone }}</td>

        <td data-label="Adresse">{{ userInfo.adresse }}</td>

        <td data-label="Description">{{ userInfo.description }}</td>

        <td data-label="Permis" v-if="userInfo.permisConduire" data-i18n-key="user-infos-driver-licence-yes">Oui</td>
        <td data-label="Permis" v-else data-i18n-key="user-infos-driver-licence-no">Non</td>

        <td data-label="Composante">{{ userInfo.composante }}</td>
      </tr>
      </tbody>
    </table>
    <div v-if="adminOnPage===true">
      <button class="btn btn-outline-dark" @click.prevent="modifUser" data-i18n-key="modify">Modifier</button>
    </div>

    <h2 class="pt-5" data-i18n-key="infos-user-car-title">Infos voiture</h2>
    <!-- Si l'utilisateur possède une voiture => affichage des infos de la voiture-->
    <div v-if="hasCar">
      <table class="table table-hover">
        <thead class="thead violet">
        <tr>
          <th scope="col" data-i18n-key="infos-user-car-name">Titre</th>
          <th scope="col" data-i18n-key="infos-user-car-brand">Marque</th>
          <th scope="col" data-i18n-key="infos-user-car-model">Modèle</th>
          <th scope="col" data-i18n-key="infos-user-car-seats-number">Nombre de places</th>
          <th scope="col" data-i18n-key="infos-user-car-insurance-end-date">Date fin de contrat - assurance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td data-label="Libelle">{{ userInfo.libelle }}</td>

          <td data-label="Marque">{{ userInfo.marque }}</td>

          <td data-label="Modele">{{ userInfo.modele }}</td>

          <td data-label="Places">{{ userInfo.nb_place }}</td>

          <td data-label="Assurance">{{ userInfo.assurance }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div v-else><p data-i18n-key="infos-user-car-no-car">Aucune voiture renseignée.</p></div>
    <div v-if="adminOnPage===true">
      <button class="btn btn-outline-dark" v-if="hasCar" @click.prevent="modifVoiture" data-i18n-key="modify">Modifier</button>
      <button v-else class="btn btn-outline-dark" @click.prevent="modifVoiture" data-i18n-key="add">Ajouter</button>
      <button v-if="hasCar" @click.prevent="deleteVoiture" class="deletebtn btn btn-danger" data-i18n-key="remove">Retirer</button>
    </div>

    <h2 class="pt-5" data-i18n-key="infos-user-routes-title">Présence sur les itinéraires :</h2>

    <div v-if="itineraireInfo.length > 0">
      <table class="table table-hover">
        <thead class="thead violet">
        <tr>
          <th scope="col" data-i18n-key="infos-user-routes-departure">Départ</th>
          <th scope="col">Destination</th>
          <th scope="col" data-i18n-key="infos-user-routes-date">Date de départ</th>
          <th scope="col" data-i18n-key="infos-user-routes-driver">Conducteur</th>
          <th scope="col" data-i18n-key="infos-user-routes-details">Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr v-bind:key="item.id" v-for="item in itineraireInfo" id="itineraireInfos">
          <td data-label="Depart">{{ item.itineraireByItineraire.depart }}</td>

          <td data-label="Arrivee">{{ item.itineraireByItineraire.destination }}</td>

          <td data-label="Date">{{ item.itineraireByItineraire.date_depart }}</td>

          <td data-label="Conducteur">{{ item.conducteur }}</td>

          <td class="col-1"><router-link class="text-blanc" :to="{ name: 'detailsItinerairePage', params: { id: item.itineraire }}"><button class="btn violet" data-i18n-key="infos-user-routes-details">Détails</button></router-link></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div v-else><p data-i18n-key="infos-user-routes-no-route">Aucune présence sur un itinéraire.</p></div>
  </div>
  <div v-else>
    <h1 data-i18n-key="email-not-univ">Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect" data-i18n-key="email-not-univ-login">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout" data-i18n-key="email-not-univ-full-logout">Déconnexion totale</button>
  </div>
</template>

<script src="./index.js"></script>

<style scoped>

.popUp .pp-table {
  display: table;
  height: 130%;
  width: 100%;
}

.popUp .pp-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.popUp {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  overflow: auto;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.popUp:target {
  opacity: 1;
  visibility: visible;
}

.popUp .popup-body {
  background-color: #ffffff;
  padding: 2em;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);

  width: 30%;
  min-width: 300px;

  margin: 0 auto;
}

.popUp .form-container {
  vertical-align: middle;
  padding: 10px;
}

.deletebtn {
  background-color: #f44336;
}

.loader {
  border: 8px solid #e0e0e0;
  border-radius: 50%;
  border-top: 8px solid #791866;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 578px){

  .container{
    margin-top: 30px;
  }

}

@media (max-width: 992px){

  .table{
    color: #333;
    border-radius: 15px;
  }
  .table thead {
    display: none;
  }

  .table tr{
    display: block;
    margin-bottom: 40px;
  }

  .table td {
    display: block;
    text-align: right;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

}

</style>
