<template>
  <div class="container mt-4" v-if="$auth.user.email.endsWith('univ-orleans.fr')">
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
      <option value="en" title="If elements are not translated, reload the page.">English</option>
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
    </select>
    <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
      <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      <option value="en" title="If elements are not translated, reload the page.">English</option>
    </select>
    <div class="card bg-light mt-4">
      <article class=" col-10 align-self-center mt-4">
        <div class="">
          <div v-if="userExist">
            <div class="row d-flex flex-column">
              <div class="col">
                <b-icon-person-square style="width: 120px; height: 120px;"></b-icon-person-square><br>
                <div v-if="ratingAverage!=null" class="row d-flex justify-content-center">
                  <div v-bind:key="star.id" v-for="star in starsList">
                    <img v-if="star.img=='star'" src="../../assets/star.png" :alt="star.alt" :width="star.width">
                    <img v-if="star.img=='star_empty'" src="../../assets/star_empty.png" :alt="star.alt" :width="star.width">
                    <img v-if="star.img=='star_half'" src="../../assets/star_half.png" :alt="star.alt" :width="star.width">
                  </div>
                </div>
                <div v-else>
                  <img src="../../assets/star.png" alt="*" width="21">
                  <i><span data-i18n-key="rating-no-rating">Aucune note</span></i>
                </div>
              </div>
              <div class="col mt-4">
                <h2><b>{{ user.nom }}</b></h2>
                <h2><b>{{ user.prenom }}</b></h2>
                <!--<h4>age</h4>-->
                <h6><i>{{ user.composante }}</i></h6>
              </div>
            </div>
            <hr style="border-top: 2px solid #8c8b8b;">
            <br>
            <div class="row">
              <div class="col-md-4">
                <h5 class="font-weight-bold">E-mail</h5>
              </div>
              <div class="col-md-8">
                <h5>{{ user.email }}</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <h5 class="font-weight-bold" data-i18n-key="phone-number">Telephone</h5>
              </div>
              <div class="col-md-8">
                <h5>{{ user.telephone }}</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <h5 class="font-weight-bold" data-i18n-key="address">Adresse</h5>
              </div>
              <div class="col-md-8">
                <h5>{{ user.adresse }}</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <h5 class="font-weight-bold">Description</h5>
              </div>
              <div class="col-md-8">
                <h5>{{ user.description }}</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <h5 class="font-weight-bold" data-i18n-key="driver-licence">Permis conduire</h5>
              </div>
              <div class="col-md-8">
                <h5 v-if="lang='en'">{{ user.permisConduire?'yes':'no' }}</h5>
                <h5 v-else>{{ user.permisConduire?'oui':'non' }}</h5>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <a class="nav-link">
                <router-link class="btn violet" :to="{ name: 'detailsUserPage', params: {userId: userId} }" data-i18n-key="btn-details">Détails</router-link>
              </a>
            </div>
          </div>
          <div v-else>
            <div class="row">
              <div class="col-md-5">
                <b-icon-person-square style="width: 120px; height: 120px;"></b-icon-person-square>
              </div>
              <div class="col-md-7">
                <br>
                <div class="alert alert-danger" role="alert"><h4 data-i18n-key="unknown-user">Utilisateur inconnu</h4></div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div v-else>
    <h1 data-i18n-key="email-not-univ">Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
    <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect" data-i18n-key="email-not-univ-login">Authentification</button>
    <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout" data-i18n-key="email-not-univ-full-logout">Déconnexion totale</button>
  </div>
</template>

<script src="./index.js"></script>
