<template>
    <div class="pt-xl-2 pt-lg-2 pt-md-3 pt-sm-4" id="div_form" v-if="$auth.user.email.endsWith('univ-orleans.fr')">
      <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-if="lang=='en'" title="If elements are not translated, reload the page.">
        <option value="en" title="If elements are not translated, reload the page.">English</option>
        <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
      </select>
      <select data-i18n-switcher class="locale-switcher" id="locale-switcher" v-model="lang" v-else title="Si des élements ne sont pas traduits, rechargez la page.">
        <option value="fr" title="Si des élements ne sont pas traduits, rechargez la page.">Francais</option>
        <option value="en" title="If elements are not translated, reload the page.">English</option>
      </select>
      <br><br>
      <form @submit="submit" autocomplete="on">
        <div class="form-inline justify-content-center">
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><BIconFlag/></div>
            </div>
            <!--autocomplete-->
            <input type="text" v-model="depart" placeholder="Départ" class="form-control" list="autocompleteDepart" aria-label="Départ" autocomplete="on" data-i18n-placeholder-key="search-route-departure">
            <datalist id="autocompleteDepart">
              <option v-bind:key="o.id" v-for="o in autocompleteDepartsList" :value="o.depart"></option>
            </datalist>
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><BIconFlag-Fill/></div>
            </div>
            <!--autocomplete-->
            <input type="text" v-model="destination" placeholder="Arrivée" class="form-control" list="autocompleteDestination" aria-label="Arrivée" autocomplete="on" data-i18n-placeholder-key="search-route-destination">
            <datalist id="autocompleteDestination">
              <option v-bind:key="o.id" v-for="o in autocompleteDestinationsList" :value="o.destination" :title="o.destination"></option>
            </datalist>
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><BIconCalendar4Week/></div>
            </div>
            <input type="date" title="Date de départ" class="form-control" v-model="date_depart" placeholder="Date" aria-label="Date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" data-i18n-placeholder-key="search-route-date" data-i18n-title-key="search-route-date">
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><BIconPeopleFill/></div>
            </div>
            <input type="number" v-model="nb_passager" title="nombre de passagers" class="form-control" placeholder="Nombre de passagers" min="1" value="1" aria-label="Passagers" data-i18n-placeholder-key="search-route-passengers" data-i18n-titke-key="search-route-passengers">
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><BIconBullseye/></div>
            </div>
            <input type="number" v-model="perimetre" title="périmètre de recherche" class="form-control" placeholder="Périmètre de recherche" min="0" value="5" aria-label="perimetre" data-i18n-placeholder-key="search-route-perimeter" data-i18n-title-key="search-route-perimeter">
          </div>
          <button class="btn violet mb-3 mt-2 " id="rechercher" type="submit" style="width:80px;">
            <BIconSearch/>
          </button>
          <p v-if="errors.length">
            <b data-i18n-key="search-route-errors-text">Veuillez corriger les erreurs suivantes : </b>
            <ul>
              <li v-bind:key="error" v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
        </div>
      </form>
      <div id="listItineraire">
        <div class="ml-0" v-bind:key="i.itineraireByItineraire.id" v-for="i in list_itineraire" style="width:100%">
          <div class="card" style="margin:30px 0;">
            <div class="card-header">
              <h4>{{ i.itineraireByItineraire.date_depart | format_date_heure }}</h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div class="row m-0" style="width:100%">
                  <div class="col">
                      <div class="row d-flex justify-content-center"><BIconFlag/>&nbsp;</div>
                      <div>{{ i.itineraireByItineraire.depart | get_city }}</div>
                      <div class="row d-flex justify-content-center">
                        {{ i.utilisateurByUtilisateur.prenom }} {{ i.utilisateurByUtilisateur.nom | get_first_letter}}
                      </div>
                      <div class="row d-flex justify-content-center">
                        <b-button size="sm" class="mr-1">
                          <router-link :to="{ name: 'userProfilePage', params: { userId: i.utilisateurByUtilisateur.id}}"><b-icon-person-lines-fill></b-icon-person-lines-fill></router-link>
                        </b-button>
                        <b-button size="sm" class="mr-1">
                          <router-link :to="{ name: 'detailsUserPage', params: { userId: i.utilisateurByUtilisateur.id}}" data-i18n-key="route-user-details">Détails</router-link>
                        </b-button>
                      </div>
                      <div v-if="i.utilisateurByUtilisateur.marque" class="row d-flex justify-content-center">{{ i.utilisateurByUtilisateur.marque }} {{ i.utilisateurByUtilisateur.modele }}</div>
                      <div v-else class="row d-flex justify-content-center" data-i18n-key="route-user-car-no-car">véhicule inconnu</div>
                      <div class="row d-flex justify-content-center">{{ i.itineraireByItineraire.nb_passager }} <span data-i18n-key="route-passengers-text">passager(s)</span></div>
                  </div>
                  <div class="col">
                      <div class="row d-flex justify-content-center"><BIconFlag-Fill/>&nbsp;</div>
                      <div>{{ i.itineraireByItineraire.destination | get_city }}</div>
                      <div class="row d-flex justify-content-center">
                        <div v-if="i.utilisateurByUtilisateur.note_moy != 'aucune note'">{{ i.utilisateurByUtilisateur.note_moy }} <BIconStar/></div>
                        <div v-else>{{ i.utilisateurByUtilisateur.note_moy }}</div>
                      </div>
                      <div class="row d-flex justify-content-center">{{ i.itineraireByItineraire.temps_trajet | format_duree }}</div>
                      <div class="row d-flex justify-content-center">{{ i.itineraireByItineraire.prix }}<span data-i18n-key="route-price-text">€ par passager</span></div>
                  </div>
                </div>
                <p class="mt-3" v-if="i.itineraireByItineraire.description != null">{{ i.itineraireByItineraire.description }}</p>
                <p class="mt-3" v-else data-i18n-key="route-description-no-description">Aucune description</p>
                <footer>
                  <router-link class="text-blanc" :to="{ name: 'detailsItinerairePage', params: { id: i.itineraireByItineraire.id }}"><button class="btn violet" data-i18n-key="route-details">Détails</button></router-link>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-wrap justify-content-md-around">
          <div class="card card-welcome" >
            <div class="card-body">
              <img class="card-img-top" src="../../assets/voiture.png" alt="Voiture">
              <h5 data-i18n-key="card-infos-1-title">Vos trajets préférés à petits prix où que vous alliez</h5>
              <p data-i18n-key="card-infos-1-text">En covoiturage, trouvez le trajet idéal parmi notre large choix de destinations à petits prix.</p>
            </div>
          </div>

          <div class="card card-welcome">
            <div class="card-body">
              <img class="card-img-top" src="../../assets/verified.png" alt="Voiture">
              <h5 data-i18n-key="card-infos-2-title">Voyagez en toute confiance</h5>
              <p data-i18n-key="card-infos-2-text">Nous prenons le temps qu’il faut pour connaître nos membres et nos compagnies de bus partenaires. Nous vérifions les avis, les profils et les pièces d’identité. Vous savez donc avec qui vous allez voyager pour réserver en toute confiance sur notre plateforme sécurisée.</p>
            </div>
          </div>

          <div class="card card-welcome">
            <div class="card-body">
              <img class="card-img-top" src="../../assets/thunder.png" alt="Voiture">
              <h5 data-i18n-key="card-infos-3-title">Recherchez, cliquez et réservez !</h5>
              <p data-i18n-key="card-infos-3-text">Réserver un trajet devient encore plus simple ! Facile d'utilisation et dotée de technologies avancées, notre appli vous permet de réserver un trajet à proximité en un rien de temps.</p>
            </div>
          </div>
      </div>

      <div v-if="list_itineraire.length === 0">
        <h3>{{ result_msg }}</h3>
      </div>
    </div>
    <div v-else>
      <h1 data-i18n-key="email-not-univ">Votre compte d'authentification n'appartient pas à l'université d'Orléans.</h1>
      <button class="btn violet" v-if="!$auth.isAuthenticated" @click="$auth.loginWithRedirect" data-i18n-key="email-not-univ-login">Authentification</button>
      <button class="btn violet" v-if="$auth.isAuthenticated" @click="$auth.logout" data-i18n-key="email-not-univ-full-logout">Déconnexion totale</button>
    </div>
</template>
<style>
@media (max-width: 578px) {
  #div_form {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-welcome {
    display: inline-block;
    margin: 20px 0px;
  }
}
@media (min-width: 579px) {
  .card-welcome {
    margin-top: 70px ;
    margin-bottom: 30px;
}
  #div_form {
    margin-top: 50px;
  }
}
.container {

}
.card-welcome {
    text-align: center;
    width: 20rem;

}

.card-welcome img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 20px auto;
}
</style>

<script src="./index.js"></script>
