<template>
    <div id="app">
      <navbar></navbar>
    </div>
</template>

<script>
import navBar from './components/navBar/navBar'
import userProfile from './components/userProfilePage/userProfilePage'
export default {
  components: {
    'navbar': navBar,
    'userProfile': userProfile
  }
}
</script>

<style src="./style.css">
</style>
