html {
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

h1,
h2 {
    font-weight: normal;
}

a {
    color: #791866;
}

.logo {
    width: 3vw;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.violet {
    background-color: #791866;
    color: white;
}

.violet:hover {
    color: white;
}

.gris {
    background-color: #767375;
    color: white;
}

.text-blanc {
    color: white;
}

.text-blanc:hover {
    color: grey;
    text-decoration: none;
}

#listItineraire>div {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

body {
    z-index: 1;
}