<template>
  <div class="container">
    <div v-if="itineraireInfo.length >= 0">
      <h2 class="list-title mt-4" data-i18n-key="page-title">Liste des itinéraires</h2>
      <br>

      <p class="row">Filtres :</p>
      <div class="filtres row">
        <div class="input-group mb-3 col-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0 filtres-checkbox" type="checkbox" v-model="filters[0].enabled" id="filterDepartCheck">
          </div>
          <input type="text" class="form-control" v-model="filters[0].value" id="filterDepart" placeholder="Depart">
        </div>
        <div class="input-group mb-3 col-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0 filtres-checkbox" type="checkbox" v-model="filters[1].enabled" id="filterDestinationCheck">
          </div>
          <input type="text" class="form-control" v-model="filters[1].value" id="filterDestination" placeholder="Destination">
        </div>
        <div class="input-group mb-3 col-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0 filtres-checkbox" type="checkbox" v-model="filters[2].enabled" id="filterDateCheck">
          </div>
          <input type="date" class="form-control" v-model="filters[2].value" id="filterDate" placeholder="Date">
        </div>
        <!--<div class="input-group mb-3 col-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0 filtres-checkbox" type="checkbox" v-model="filters[3].enabled" id="filterPrixCheck">
          </div>
          <input type="text" class="form-control" v-model="filters[3].value" id="filterPrix" placeholder="Prix">
        </div>-->
        <button class="btn violet" @click="filter">Rechercher</button>
      </div>

      <div class="media-scroller snaps-inline">
        <div class="media-element"  v-bind:key="item.id" v-for="item in itineraireInfo" id="itineraireInfos">
          <h3></h3>
          <div class="card__info">
            <p><strong>Départ</strong><br>{{ item.depart }}</p>
            <p><strong>Destination</strong><br>{{ item.destination }}</p>
            <p><strong>Date de départ</strong><br>{{ item.date_depart }}</p>
            <p><strong>Nombre de place disponible</strong><br>{{ item.nb_passager }}</p>
            <p><strong>Prix</strong><br>{{ item.prix }} €</p>
            <router-link class="text-blanc" :to="{ name: 'detailsItinerairePage', params: { id: item.id }}"><button class="btn violet">Détails</button></router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js">
</script>

<style scoped>

.filtres-checkbox{
  left: 41.5px;
}

.popUp .pp-table {
  display: table;
  height: 130%;
  width: 100%;
}

.popUp .pp-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.popUp {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  overflow: auto;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.popUp:target {
  opacity: 1;
  visibility: visible;
}

.popUp .popup-body {
  background-color: #ffffff;
  padding: 2em;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);

  width: 30%;
  min-width: 300px;

  margin: 0 auto;
}

.popUp .form-container {
  vertical-align: middle;
  padding: 10px;
}

.deletebtn {
  background-color: #f44336;
}

.loader {
  border: 8px solid #e0e0e0;
  border-radius: 50%;
  border-top: 8px solid #791866;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 578px){
  .container{
    margin-top: 30px;
  }
}

@media (max-width: 992px){

  .table{
    background-color: #791866;
    color: white;
    max-height: 200px;
    overflow: hidden;
  }

  .table thead {
    display: none;
  }

  .table tr{
    display: block;
    margin-bottom: 40px;
  }

  .table td {
    display: block;
    text-align: right;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  .media-scroller {
    grid-auto-columns: 90%;
    margin-top: 0;
  }

}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@media (min-width: 993px){
  .media-scroller {
    grid-auto-columns: 30%;
    margin-top: 1rem;
  }
}

.container {
}

.media-scroller {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  padding: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  position: relative;
  display: grid;
  background: #fbfbfb;
  grid-template-rows: min-content;
  padding: 10px;
  border: 2px solid none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left:45px ;
}

.list-title{
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: .9rem;
font-size: 1.25rem;
}

.list-title span {
  color: #791866;
  font-size: 2.5rem;
}

</style>
